# Odyssey Fusion Reactor Configuration
# Last Modified: 2157-08-15

[REACTOR_CORE]
power_output=CORRUPTED
plasma_temperature=CORRUPTED
containment_field=ACTIVE
fuel_mixture=DEUTERIUM_HELIUM3

[SAFETY_LIMITS]
max_temperature=150000000
min_containment=95
emergency_shutdown=ENABLED
coolant_pressure=CORRUPTED

[POWER_DISTRIBUTION]
life_support=PRIORITY_1
propulsion=PRIORITY_2
navigation=PRIORITY_3
communications=PRIORITY_4

[STATUS]
operational_mode=CORRUPTED
last_maintenance=2157-06-01
next_maintenance=2157-09-01
